@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #51a4ed;
$secondary-color: #3d4856;
$secondary-color-text: white;
$accent-color: #600000;
$text-color: #600000;
$accent-text-color: #ffecdb;
$accent-text-color-hover: #a2ded0;
$font-stack: 'Roboto', sans-serif;
