@use 'colors';
@import '../../node_modules/rfs/scss';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: colors.$primary-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  a {
    color: colors.$text-color;
    @include font-size(3rem);
    padding-bottom: 1rem;
  }
}

.width100 {
  width: 100%;
}

.width0 {
  width: 0;
}

.displayNone {
  display: none;
}

#main-container .positionFixed {
  position: fixed;
}
