// from https://gist.github.com/prasofty/2b5f290e1d60f17b5acb
@use 'colors';
@use 'functions';
@import '../../node_modules/include-media/dist/include-media';
@import '../../node_modules/rfs/scss';

$space-values: (0, 1, 2, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50) !default;

$spaces: (padding, margin) !default;

$space-sides: (top, right, bottom, left) !default;

@mixin make-spaces() {
  @each $space in $spaces {
    @each $value in $space-values {
      .#{$space}-#{$value} {
        #{$space}: #{$value}#{'rem'};
      }
      @each $side in $space-sides {
        .#{$space}-#{$side}-#{$value} {
          #{$space}-#{$side}: #{$value}#{'rem'};
        }
      }
    }
  }
}
@include make-spaces();

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: colors.$primary-color;
  color: colors.$text-color;
  font-family: colors.$font-stack;
  line-height: 3rem;
}

a {
  text-decoration: none;
}

.aButton {
  color: colors.$accent-text-color;
  padding: 0.6rem;
  display: inline-block;
  background-color: colors.$accent-color;
  border-radius: 8px;
  border-style: solid;
  border-color: colors.$accent-color;
  @include font-size(1.1rem);
  transition: color 100ms;
  margin: 1rem 0;

  &:hover,
  &:focus {
    border-style: solid;
    border-color: colors.$accent-text-color-hover;
    color: colors.$accent-text-color-hover;
  }
}

.container {
  max-width: 95%;
  padding: 0 1.5rem;
  margin: auto;
}

.line:not(:last-child) {
  border-right: 2px solid colors.$text-color;
  padding-right: 12px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mx-auto {
  margin: 0 auto;
  display: block;
}

p a {
  text-decoration: none;
  color: #0000b5;
  transition: all 0.5s ease;
  &:hover {
    color: #522032;
    text-decoration: underline;
  }
}
