@use 'colors';
@use 'functions';

@use 'utilities';
@use 'variables';

@use 'media';
@import '../../node_modules/rfs/scss';

#main-nav {
  padding: 1rem;
  @include functions.dc(colors.$dark-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  justify-content: center;

  ul {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    list-style: none;

    .nav-items {
      display: flex;
      align-items: center;

      &-items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        .active-link {
          text-decoration: underline;
        }
      }
    }

    a {
      text-decoration: none;
      color: functions.text(colors.$dark-color);
      transition: all 0.5s ease;
      @include font-size(1.2rem);
      &:hover {
        color: darken($color: functions.text(colors.$dark-color), $amount: 20%);
        text-decoration: underline;
        @include font-size(1.4rem);
      }
    }
  }
}

#main-page-heading h2 {
  font-weight: 400;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main-footer {
  @include functions.dc(colors.$dark-color);
  height: 5rem;
  text-align: center;
  padding: 15px 0;
}

.card-body {
  width: 90%;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: ccffff;

  i {
    font-size: 4.3em;
  }
}

.stripe {
  background-color: #ccffff;
  height: 100px;
  position: relative;
}
.stripe:before {
  content: '';
  background-color: #ccffff;
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
}

#mainPage {
  h2 {
    font-weight: 400;
  }
}
